* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  z-index: 0;
}

.invisible {
  display: none;
}

.container{
  position: relative;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome|maki);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

.container {
  width: 950px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(179, 179, 179)
}


.logo {
  // width: 300px;
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
}

.logoImg {
  height: 70px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(235,235,235);
  border: 1px solid lightgray;
  width: 220px;
  height: 76px;
}

#fbLogo,
#twitterLogo,
#instagramLogo{
  width: 30px;
}

#openTableLogo {
  width: 50px;
}

#fbLogo,
#openTableLogo {
  border-radius: 3px;
}


nav {
  position: fixed;
  top: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  a {
    text-decoration: none;
    font-size: 13px;
    margin: 5px 0 0 0;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-top: 15px;
    }
  }
}


.photoContainer {
  height: 270px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

#three {
  width: 100%;
  position: absolute;
  top: -240px;
}

.feedsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#four {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  height: 240px;
  background: rgb(235,235,235);
  border: solid 1px rgb(179, 179, 179);
  p {
    margin: 0;
    font-size: 0.8em;
  }
  .latest {
    padding: 20px 10px 12px 10px;
    margin: 0 10px;
    font-size: 1em;
    font-weight: 400;
    border-bottom: solid 1px rgb(179, 179, 179);
  }
  .row  {
    border: none;
    p {
      display: inline-block;
      font-weight: bold;
      margin: 0 10px;
      padding: 10px;
      font-style: italic;
      font-size: 0.8em;
      &.r {
        float: right;
        margin: 0 10px 0 0;
        padding: 10px;
      }
    }
  }
  .newsPost {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline;
    max-width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    overflow: hidden;
    font-size: 0.65em;
    line-height: 1.5em;
    position: relative;
    &:after {
      content: "read more >";
      position: absolute;
      top: 120px;
      right: 0;
    }
  }
}

.specials {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
  background: rgb(235,235,235);
  border: solid 1px rgb(179, 179, 179);
  // position: relative;
}

.todaysSpecial {
    padding: 20px 10px 12px 10px;
    margin: 0 10px;
    border-bottom: solid 1px #b3b3b3;
}

.specialLineContainer{
  position: relative;
  margin: 0 20px;
}

.specialLine{
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}

.specialLine:before{
    content: '';
    position: absolute;
    bottom: 2px;
    width: 96%;
    // height: 0;
    // line-height: 0;
    // height: 10px;
    border-bottom: 1.8px dotted gray;
}

.specialName {
  position: relative;
  bottom: 2px;
  background: rgb(235,235,235);
  height: 12px;
}

.specialPrice{
  font-weight: normal;
  font-size: 11px;
  background: rgb(235,235,235);
  height: 12px;
}

.specialDescription {
    font-size: 0.65em;
    line-height: 1.5em;
    margin: 5px 20px 0;
}

.specialImageDiv{
    max-width: 100%;
    height: 100px;
    margin: 10px 20px 0px 20px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      max-width: 100%;
      top: -35px;
    }
  }


#six {
  width: 300px;
  height: 240px;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border: solid 1px rgb(179, 179, 179);
    .address {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      margin: 0 0 10px 0;
      font-weight: 300;
    }
  ul {
    padding: 0;
    margin: 10px 0;
    display: flex;
    font-weight: 300;
    justify-content: space-around;
    .first {
      list-style: none;
    }
    li {
      font-size: 0.7em;
    }
    a {
      text-decoration: none;
    }
  }
  .iframe {
    max-width: 100%;
    margin: 10px 20px;
    border: solid 1px rgb(179, 179, 179);
  }
  iframe {
    max-width: 100%;
  }
  h4 {
    padding: 20px 10px 12px 10px;
    margin: 0 10px;
    font-size: 1em;
    border-bottom: solid 1px rgb(179, 179, 179);
    font-weight: 400;
  }
}

.featureHeader {
  margin-top: 30px;
  .story,
  .men,
  .res {
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
    letter-spacing: 0.06em;
    justify-content: center;
  }
  .story {
    width: 125px;
  }
  .men {
    width: 100px;
  }
  .res {
    width: 147px;
  }
  .filler {
    width: 288px;
    margin: 0;
    height: 50px;
  }
}
.glow {
  box-shadow: 0px 0px 3px 3px grey;
  width: 15px;
  height: 15px;
}

.inactive {
  border-bottom: solid 1px #DDDDDD;
}

.active {
  border: solid 1px #DDDDDD;
  border-bottom: none;
}
.hidden {
  display: none;
}

.vegan {
  text-align: center;
}

#menDiv {
  border: none;
}

#seven {
  .ourStoryText {
    font-size: 0.8em;
    line-height: 1.8em;
    letter-spacing: 0.02em;
    padding: 0 3px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
}

.featureHeader {
  display: flex;
}

.ourStory,
.men,
.reservations {
  width: 675px;
}

.ourStory {
  .featureImgContainer {
    height: 310px;
    overflow: hidden;
    position: relative;
  }
  img {
    position: absolute;
    width: 100%;
    top: -60px;
  }
}

.reservations {
  form {
    :first-child {
      margin-top: 80px;
    }
    display: flex;
    flex-direction: column;
    #fullName,
    #guests,
    #date,
    #notes,
    #reserveTable {
      border-radius: 3px;
      border: solid 1px rgb(221,221,221)
    }
    label,
    button {
      font-weight: 600;
      letter-spacing: 0.06em;
      margin: 10px;
    }
    input,
    textarea,
    select {
      margin: 0 15px;
    }
    #fullName {
      width: 350px;
      height: 35px;
    }
    #guests {
      width: 150px;
      height: 35px;
    }
    #date {
      width: 250px;
      height: 35px;
    }
    #notes {
      width: 400px;
      height: 80px;
    }
    select {
      width: 100px;
    }
    #reserveTable {
      height: 40px;
      width: 140px;
      color: white;
      background-color: black;
      border: none;
    }

  }
}

.itemLine:before{
    content: '';
    position: absolute;
    bottom: 0.3rem;
    width: 98%;
    height: 0;
    line-height: 0;
    height: 10px;
    border-bottom: 0.12rem dotted gray;
}

.itemLine {
  margin: 0;
  padding-top: 16px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.itemName{
  position: relative;
  background: white;
  font-size: 16px;
  font-weight: bold
}

.itemPrice{
  font-weight: normal;
  font-size: 12px;
  background: white;
  padding-right: 5px;
  position: relative;
  top: 2px;
}

.itemDescription{
  display: flex;
  justify-content: space-between;
}

.buttonsUL{
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-right: 3px;
  border-left: 1px solid #D4D4D4;
  li{
    list-style: none;
    margin-right: 5px;
    background: #808080;
    border-radius: 3px;
    width: 18px;
    text-align: center;
    color: white;
    font-size: 15px;
  }
}

.ourDinner{
  font-size: 20px;
  font-style: italic;
  padding: 35px 0 17px 12px;
  border-bottom: 1px solid #D0D0D0;
}

@mixin borderColor(){
  border-color: #D0D0D0;
}

@mixin headerDefault () {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 31px 12px 16px 12px;
  border-bottom: 1px solid gray;
  @include borderColor;
}

.appsHeader {
  @include headerDefault;
  margin-top: 2px;
  border-top: 9px solid #F0F0F0;
}

.entreesHeader,
.sidesHeader {
@include headerDefault;
}


.items,
.item-specs {
  padding: 0;
  list-style: none;
}

.menButtonDiv{
    position: absolute;
    height: 110px;
    width: 247px;
    background: #E7E7E7;
    opacity: 1;
    top: 0px;
    left: 0px;
    border: 1px solid #CCCCCC;
    padding: 0 12px 0 12px;
}

.triangle{
      position: absolute;
      top: -14px;
      left: 185px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 14px 12.5px;
      border-color: transparent transparent #e7e7e7 transparent;
    }

.triangle2{
    position: absolute;
    top: -15px;
    left: 184px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13.5px 15px 13.5px;
    border-color: transparent transparent #CCCCCC transparent;
    z-index: -1;
}

.menButtonDivHeader{
    border-bottom: 1px solid #D3D3D3;
    color: #5C5C5C;
    font-weight: bold;
    font-size: 11px;
    padding: 0 0 7px 0;
}

.menButtonMessage{
  color: #A1A1A1;
  font-size: 9px;
}

.descriptionP{
  margin: 0 0 0 0;
  padding: 24px 16px 41px 0;
  width: 538px;
  font-size: 11px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.item-title {
  font-weight: 600;
  font-size: 1em;
}

.item-price {
  font-size: 0.9em;
}

.item-description {
  font-size: 0.8em;
  max-width: 80%;
}

.item-info {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.item-specs {
  display: flex;
  min-width: 15%;
  max-width: 15%;
  justify-content: space-between;
  li {
    position: relative;
    list-style: none;
    p {
      margin: 0;
      position: absolute;
      right: 10px;
      top: 20px;
      background-color: rgb(231, 231, 231);
      border: solid black 1px;
    }
  }
}

.itemDescription {
  padding: 0 12px 0 12px;
}

.menButtonDiv{
    position: absolute;
    height: 110px;
    width: 247px;
    background: #E7E7E7;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 5px 1px #E7E7E7;
}

#eight {
  img {
    width: 216px;
  }
}

.foodImgContainer {
    width: 216px;
    max-height: 162px;
    overflow: hidden;
    margin: 20px 0;
  }

footer {
  border-top: 1px solid #CACACA;
  font-size: 10px;
}

