* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid black 1px;
}

body {
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 300px;
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: 'Poiret One', cursive;
  font-size: 43px;
}

.logoImg {
  height: 70px;
}

.social{
  display: flex;
  align-items: center;
  background: #F7F7F7;
  border: 1px solid lightgray;
  width: 380px;
  height: 75px;
   p {
    border-width: 0 0 0 0;
   }
}

.socialLogos{
  border-width: 0 0 0 0;
}

#fbLogo{
  margin-left: 25px;
  margin-right: 25px;
}

#twitterLogo {
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

#instagramLogo{
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

#openTableLogo {
  width: 100px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.photoContainer {
  height: 300px;
  overflow: hidden;
  position: relative;
}

#three {
  width: 100%;
  position: absolute;
  top: -240px;
}

.feedsContainer {
  display: flex;
  flex-direction: row;
}

#four {
  display: flex;
  flex-direction: column;
  max-width: 33.3333%;
  .row {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: bold;
  }
}

#five,
#six {
  max-width: 33.3333%
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.specials {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  padding-right: 18px;
  width: 300px;
  height: 240px;
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 263px;
    height: 82px;
  }
}

.specialImageDiv{
  width: 260px;
  height: 100px;
  background-image: url(https://c5.staticflickr.com/9/8697/16756892436_cb0c6b5c14_n.jpg);
  background-position: 70% 50%;
  }